<style>
  .btn.btn-social {
    margin-right: 7px;
    min-width: 100px;
    display: none;
  }

  .btn.btn-facebook {
    color: white;
    background-color: #3B5998;
    border-color: #37528C;
    display: inline-block;
  }
  .btn.btn-facebook:hover,
  .btn.btn-facebook:focus {
    color: white;
    background-color: #2F487B;
    border-color: #2F487B;
  }

  .btn.btn-google {
    color: white;
    background-color: #dc4e41;
    border-color: #C1453A;
    display: inline-block;
  }
  .btn.btn-google:hover,
  .btn.btn-google:focus {
    color: white;
    background-color: #C74539;
    border-color: #AF4138;
  }
</style>

<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" ng-hide="accepted" ng-submit="submit()">
      <div class="form-group" ng-repeat="field in viewModel.form.fields">
        <label for="spEmail" class="col-xs-12 col-sm-4 control-label">{{field.label}}</label>
        <div class="col-xs-12 col-sm-4">
          <input class="form-control" name="{{field.name}}" type="{{field.type}}" ng-model="formModel[field.name]" placeholder="{{field.placeholder}}" ng-disabled="posting" ng-required="field.required">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <p class="text-danger" ng-show="error" ng-bind="error"></p>
          <button type="submit" class="btn btn-primary" ng-disabled="posting">Login</button>
          <a href="/forgot" class="pull-right">Forgot Password</a>
        </div>
      </div>
      <div class="form-group" ng-show="viewModel.accountStores.length">
        <div class="col-sm-offset-4 col-sm-4">
          <p>Or login with:</p>
          <button ng-repeat="accountStore in viewModel.accountStores" type="button" class="btn btn-social btn-{{accountStore.provider.providerId}}" sp-social-login="{{accountStore.provider.providerId}}" sp-client-id="{{accountStore.provider.clientId}}" sp-scope="{{accountStore.provider.scope}}">
            {{providerName}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
